*{
  margin: 0;
  padding: 0;
  font-style: italic;
}

.main{
  margin: 20px auto;
  position: relative;
  border: solid 3px #48D1CC;
  max-width: 260px;
  width: 100%;
  border-radius: 12px;
}

.title{
  margin-top: 8px;
  text-align: right;
  background: #48D1CC;
  padding: 8px 12px;
  color: white;
}

.Enter{
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 15px 43px;
  background: #48D1CC;
  border: none;
  right: 0;
  position: absolute;
}

.Enter:hover{
  background: #48D1CC;
}

.Enter:active{
  background: #000;
}

.LCD{
  max-width: 245px;
  width: 100%;
  margin: 10px 10px 5px 5px;
  color: #48D1CC;
  border: solid 2px #48D1CC;
  border-radius: 5px;
  padding: 2px;
  text-align: right;
  font-weight: bold;
}

.KeyBoard{
  position: relative;
  margin-top: 30px;
  padding: 10px;
}

.buttonKB{
  max-width: 45px;
  width: 100%;
  margin: 5px;
  height: 45px;
  font-size: 16px;
  background: #fff;
  color: #48D1CC;
  border-radius: 8px;
  border: solid 4px #48D1CC;
}

.buttonKB:hover{
  background: #48D1CCc;
  color: #fff;
}

.buttonKB:active{
  color: #20B2AA;
}